<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<h1>{{ header }}</h1>
<p>
    Current Place : {{ currentPlace }}
</p>
<p>
    {{ dump(transitions) }}
</p>
<div class="section actions">
    <form action="{{ url('process_transition') }}" method="post">
        <div class="btn-toolbar" role="toolbar">
            {% for transition in workflow_transitions(widget) %}
                <div>
                    <button value="{{ transition.name }}"
                            name="transition" type="submit"
                            class="btn btn-primary btn-lg"
                            style="margin-right: 30px"
                    >
                        {{ transition.name|title }}
                    </button>
                </div>
            {% endfor %}
        </div>
        <input type="hidden" name="workflow" value="{{ currentWorkflow }}">
        <input type="hidden" name="currentPlace" value="{{ currentPlace }}">
    </form>
</div>